

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: white;
    font-family: 'Poppins', sans-serif;
  }
  
  a{
    text-decoration: none;
    color: white;
  }

  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
:root{
    --bg-color: #000
    --filename-color: rgb(0, 0, 0);
    --footer-color: #00a2ff;
    --footer-font-color: black;
    --footer-icon-color:var(--footer-font-color);
    --player-border-color: #d3e0ea;
    --player-hover-color: #00a2ff;
    --player-border-hover-color: #f62681;
    --plyr-color-main: #00a2ff;
    transition: 0.3s;
}

@keyframes move {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

body{
    height: 100vh;
    display: flex;
    background-image: var(--bg-color);
    transition: background-image 1s;
    background-size: 500%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    animation: move 20s alternate infinite;
}

body.cyber {
    background-image: linear-gradient(90deg, #ffffff, #ffffff);
    animation: move 20s alternate infinite;
}

body.dark {
    background-image: radial-gradient(#221f22, #1E1E1E);
}

header {
    position: absolute;
    top: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.toogle{
   z-index: 1;
    position: absolute;
    margin: 1%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vh;
    height: 3.5vh;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 50%;

}

.toogle:before{
    content: "\f186";
    font-size: 2vh;
    font-family: 'Font Awesome\ 5 Free';
}

body.dark .toogle:before {
    content: '\f185';
}

#file-name {
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
#file-name.cyber {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

#file-name.dark {
    color: rgb(255, 255, 255);
}
.container{
    padding-top: 1%;
    text-align: center;
    vertical-align: middle;
    width: 65%;
}


@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
    #file-name{
      font-size: 4vh;
    }
}
footer {
    height: 1.5rem;
    padding-left: 100px;
    padding-right: 30px;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    right: 0px;
    bottom: 0;
    /* background-color: white; */
    display: flex;
    border-top: 1px solid var(--border-color);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

footer.dark {
    background-color: #00a2ff;
    color: #fff;
}

svg#octo {
    width: 1.2rem;
    padding-left: 5px;
    fill: var(--footer-icon-color)
}

svg:hover {
    padding-bottom: 8px;
    transition: 0.3s;
}

#fork-text{
    color: var(--footer-font-color);
    font-size: 1.1rem;
}        

#copyright-text{
    color: var(--footer-font-color);
    font-size: 1.1rem;
}

.plyr--full-ui input[type=range] {
    color: var(--player-hover-color);
}
.plyr__control--overlaid {
    background: #1E1E1E;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: var(--player-hover-color);
}

.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px ;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: violet;
}
